/.DS_Store
/.venv
/carbon_flux_data
/carbon_stock_data
/land_cover
/other_data
/study_area
/outputs
/irrecoverable_data
world_terrestrial_ecosystems_2020/WorldEcosystem.tfw
world_terrestrial_ecosystems_2020/WorldEcosystem.tif
world_terrestrial_ecosystems_2020/WorldEcosystem.tif.aux.xml
world_terrestrial_ecosystems_2020/WorldEcosystem.tif.ovr
world_terrestrial_ecosystems_2020/WorldEcosystem.tif.vat.cpg
world_terrestrial_ecosystems_2020/WorldEcosystem.tif.vat.dbf
world_terrestrial_ecosystems_2020/WorldEcosystem.tif.xml
